/*! tooltip 0.1.0 - 18th Dec 2013 | https://github.com/darsain/tooltip */
.first-mention-tooltip {
	all: initial;
	* {
		all: unset;
	}
}

.first-mention-tooltip {
	position: absolute !important;
	padding: .8em 1em !important;
	top: 15px; /* Defines the spacing between tooltip and target position */
	max-width: 300px !important;
	color: #3a3c47 !important;
	background: #fff !important;
	border-radius: 2px !important;
	text-shadow: none !important;
	cursor: default !important;
	display: block !important;
	font-size: 10pt !important;
	font-family: sans-serif !important;
	line-height: 1.3em !important;
	border-radius: 0px !important;
	border: 1px solid gainsboro !important;
	box-shadow: 5px 6px 16px -7px rgba(0,0,0,0.75) !important;
	z-index: 2147483647 !important;
}

.first-mention-highlight {
	background: yellow;
}

/* Arrow styles */
.first-mention-tooltip:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	margin: -6px;
	background: inherit;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	
	// Apply border to sides that will be facing down after rotation
	border-right: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}

.first-mention-tooltip.bottom:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.first-mention-tooltip.top:after, .first-mention-tooltip.top-left:after, .first-mention-tooltip.top-right:after { bottom: 0; }
.first-mention-tooltip.bottom:after, .first-mention-tooltip.bottom-left:after, .first-mention-tooltip.bottom-right:after { top: 0; }
.first-mention-tooltip.top:after, .first-mention-tooltip.bottom:after { left: 50%; }
.first-mention-tooltip.top-left:after, .first-mention-tooltip.bottom-left:after { right: 15px; }
.first-mention-tooltip.top-right:after, .first-mention-tooltip.bottom-right:after { left: 15px; }

.first-mention-tooltip.left:after, .first-mention-tooltip.left-top:after, .first-mention-tooltip.left-bottom:after { right: 0; }
.first-mention-tooltip.right:after, .first-mention-tooltip.right-top:after, .first-mention-tooltip.right-bottom:after { left: 0; }
.first-mention-tooltip.left:after, .first-mention-tooltip.right:after { top: 50%; }
.first-mention-tooltip.left-top:after, .first-mention-tooltip.right-top:after { bottom: 15px; }
.first-mention-tooltip.left-bottom:after, .first-mention-tooltip.right-bottom:after { top: 15px; }

/* Fade */
.first-mention-tooltip.fade { opacity: 0; transition: opacity 200ms ease-out; }
.first-mention-tooltip.fade.in { opacity: 1; transition-duration: 100ms; }

/* Slide */
.first-mention-tooltip.slide {
	opacity: 0;
	transition: -webkit-transform 200ms ease-out;
	transition: transform 200ms ease-out;
	transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}
.first-mention-tooltip.slide.top,
.first-mention-tooltip.slide.top-left,
.first-mention-tooltip.slide.top-right {
	-webkit-transform: translateY(15px);
	transform: translateY(15px);
}
.first-mention-tooltip.slide.bottom,
.first-mention-tooltip.slide.bottom-left,
.first-mention-tooltip.slide.bottom-right {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}
.first-mention-tooltip.slide.left,
.first-mention-tooltip.slide.left-top,
.first-mention-tooltip.slide.left-bottom {
	-webkit-transform: translateX(15px);
	transform: translateX(15px);
}
.first-mention-tooltip.slide.right,
.first-mention-tooltip.slide.right-top,
.first-mention-tooltip.slide.right-bottom {
	-webkit-transform: translateX(-15px);
	transform: translateX(-15px);
}
.first-mention-tooltip.slide.in {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	transition-duration: 100ms;
}

/* Grow */
.first-mention-tooltip.grow {
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: -webkit-transform 200ms ease-out;
	transition: transform 200ms ease-out;
}
.first-mention-tooltip.grow.top {
	-webkit-transform: translateY(60%) scale(0);
	transform: translateY(60%) scale(0);
}
.first-mention-tooltip.grow.top-left {
	-webkit-transform: translateY(60%) translateX(40%) scale(0);
	transform: translateY(60%) translateX(40%) scale(0);
}
.first-mention-tooltip.grow.top-right {
	-webkit-transform: translateY(60%) translateX(-40%) scale(0);
	transform: translateY(60%) translateX(-40%) scale(0);
}
.first-mention-tooltip.grow.bottom {
	-webkit-transform: translateY(-60%) scale(0);
	transform: translateY(-60%) scale(0);
}
.first-mention-tooltip.grow.bottom-left {
	-webkit-transform: translateY(-60%) translateX(40%) scale(0);
	transform: translateY(-60%) translateX(40%) scale(0);
}
.first-mention-tooltip.grow.bottom-right {
	-webkit-transform: translateY(-60%) translateX(-40%) scale(0);
	transform: translateY(-60%) translateX(-40%) scale(0);
}
.first-mention-tooltip.grow.left {
	-webkit-transform: translateX(53%) scale(0);
	transform: translateX(53%) scale(0);
}
.first-mention-tooltip.grow.left-top {
	-webkit-transform: translateX(53%) translateY(40%) scale(0);
	transform: translateX(53%) translateY(40%) scale(0);
}
.first-mention-tooltip.grow.left-bottom {
	-webkit-transform: translateX(53%) translateY(-40%) scale(0);
	transform: translateX(53%) translateY(-40%) scale(0);
}
.first-mention-tooltip.grow.right {
	-webkit-transform: translateX(-53%) scale(0);
	transform: translateX(-53%) scale(0);
}
.first-mention-tooltip.grow.right-top {
	-webkit-transform: translateX(-53%) translateY(40%) scale(0);
	transform: translateX(-53%) translateY(40%) scale(0);
}
.first-mention-tooltip.grow.right-bottom {
	-webkit-transform: translateX(-53%) translateY(-40%) scale(0);
	transform: translateX(-53%) translateY(-40%) scale(0);
}
.first-mention-tooltip.grow.in {
	-webkit-transform: none;
	transform: none;
	transition-duration: 100ms;
}
